:root {
  --green: #66e2dc;
  --tomato: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}



/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--white);
  background-image: url("../img/body-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON  */

.button {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button--dark {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 16px;
}

.button--light {
  background-color: var(--white);
  color: var(--black);
}

.button--block {
  width: 100%;
  height: auto;
}

.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px 14px;
  border: 0;
}

.button__icon {
  margin-right: 8px;
}

.site-header {
  padding: 40px 0;
}

.hero {
  padding: 24px 0;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.455px;
  font-weight: bold;
}

.cta {
  padding-top: 44px;
}

.cta__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__bg-box {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 140px;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  border-radius: 15px;
  width: 100%;
  height: 600px;
}

.cta__phone-img {
  position: relative;
  display: block;
  z-index: 1;
}

.cta__bg-pattern {
  width: 280px;
  height: 420px;
}

.premium-card {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: var(--tomato);
  padding: 48px 36px;
  margin-right: -24px;
  margin-left: -24px;
  border-radius: 15px;
  color: var(--white);
}

.premium-card__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 40px;
  color: var(--white);  
}

.premium-card__button {
  text-decoration: none;
}

.premium-card__price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.premium-card__price{
  margin-right: 16px;
  font-size: 65px;
  font-weight: bold;
  line-height: 52px;  
}

.footer {
}
.footer__container {
}
.logo {
}
.footer__text {
}
.footer__socials-box {
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


@media only screen and (min-width: 520px) {
  .hero__content {
    max-width: 520px;
  }

  .hero__heading {
    font-size: 40px;
    line-height: 48px;
  }
}   

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  body {
    font-size: 18px;
    line-height: 28px;
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-tablet.svg");
    background-position: right -36px top -32px, left top;
    background-size: 267px 400px, 100%;
  }
  .site-header {
    padding: 62px 0;
  }
  .hero__heading {
    margin-bottom: 28px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.727px;
  }
}   


@media only screen and (min-width: 1024px) {
  .hero__content {
    max-width: 660px;
  }
}   